*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    font-family: "Manrope";
    background: hsl(210, 46%, 95%);
    overflow: hidden;

}
.container{
    margin: auto;
    height: 100vh;
    width: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 250px;
}
.left img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    width: 420px;
    height: 250px;
    margin-left: -57px;
    padding-left: 40px;
    
    
    
    
    
}

.h3-right{
    width: 90%;
    margin-top: 25px;
    color: hsl(217, 19%, 35%);
   
}
.paragraph{
    color: hsl(214, 17%, 51%);
    font-size: 12px;
    margin-top: 10px;
    width: 90%;
    line-height: 1.5;
}

.two img{
  height: 40px;
  border-radius: 50%;
    
}
.two{
    margin-top: 15px;
}
.perfil{
    width: 100%;
    display: flex;
    margin: 0;
}

.name{
    font-weight: bold;
    font-size: 12px;
    color: hsl(217, 19%, 35%) ;
    
}
.data{
    line-height: 2;
    color: hsl(212, 23%, 69%);
    font-size: 12px;
}
.pg{
    margin-left: 15px;
}
.pg p{
    width: 100%;
    margin: 0;
}
.icon{
    margin-left: 81%;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%); 
    top: -35px;
    
   

}


img.share{ 
    cursor: pointer;
    transition: background-color 0.2s;

}
#icone{
    width: 190px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color:hsl(217, 19%, 35%);
    filter: drop-shadow(0 5px 5px hsl(217, 19%, 35%));
    position: relative;
    transform: translateY(-250%);
    right: -227px;
    transition: all .5s;
    opacity: 0;
    z-index: 10;
    
    
    
}
#icone.active{
    transform: translateY(-300%);
    opacity: 1;
    
    
    
   
   
}

#icone .icon-1{
    height: 15px;
    width: 15px;
}
#icone .icon-2{
    height: 15px;
    width: 15px;
}
#icone .icon-3{
    height: 15px;
    width: 15px;
}

#icone p{
    color: hsl(212, 23%, 69%);
    letter-spacing: 5px;
    font-size: 10px;
    margin-left: -5px;
    margin-right: 10px;
    width: 50px;
}
#icone img{
    height: 13px;
    width: 15px;
    margin-left: 10px;
    
    
    
}


div .icon{
    cursor: pointer;
}
div .icon:hover{
    background-color: hsl(214, 17%, 51%);
}
.icon:hover img{
    filter: brightness(100);
}
.seta{
    visibility: visible;
    opacity: 1;
    transform: translateY(-150%);
    
}
#icone::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);
    border: 10px solid transparent;
    border-top-color: hsl(217, 19%, 35%);
    border-bottom: 0;
   
    
}

@media screen and (max-width: 760px){
    body{
        overflow-y: scroll;
    }
    .container{
        width: 100%;
        margin: auto;
        flex-direction: column;
       
    }
    .left img{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }
    .right{
        padding: 17px;
        height: 300px;
        border-radius: 0;
        width: 313px;
        margin: -45px 0 0 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .h3-right{
        margin-top: 15px;
        font-size: 16px;
        margin-left: 15px;
    }
    .paragraph{
        text-align: left;
        margin-left: 15px;
        width: 85%;
        line-height: 1.7;
   
   
    }
    .perfil{
        margin-top: 25px;
        margin-left: 15px;
    }
    .icon{
        margin-left: 20%;
        
    }
    #icone .icon-1{
        margin-left: 12px;
        height: 17px;
        width: 17px;
    }
    #icone .icon-2{
        margin-left: 12px;
        height: 17px;
        width: 17px;
    }
    #icone .icon-3{
        margin-left: 12px;
        height: 17px;
        width: 17px;
    }
    .two{
        margin-top: 40px;
    }
    .icon{
        background: hsl(210, 46%, 95%);
        margin-left: 80%;    
    }
    .icon img{
        margin-bottom: 2px;
    }

  
    #icone::after{
        display: none;
    }
    #icone{
        left: -17px;
        bottom: 17px;
        width: 313px;
        height: 60px;
        position:relative;
        z-index: 0;
        border-radius: 0 0 10px 10px ;
        filter: none;
        transform: translateY(-100%);
        
        
        
        
    }
    #icone.active{
        transform: translateY(-100%);
    }
    img.share{
        z-index: 2;
    }
    .icon{
        z-index: 2;
    }
    .icon.active{
        width: 500px;
    }
   
   #icone{
       justify-content: start;
       
       
    }
    #icone p{
        width: 25%;
        font-size: 12px;
        margin-left: 15px;
        padding-left: 17px;
        margin-bottom: 5px;
        
        
        
        
   }
  
}


